@charset "utf-8";
/* ==========================================================================
   INDEX
========================================================================== */
/*  CONTENTS
 *
 *  GENERAL
 *  1. SCSS................variables and imports
 *  2. GENERAL..........body/html/general styles
 *  3. TYPOGRAPHY...............................
 *
 *  4. ETC
 */


/* ==========================================================================
   #SCSS
========================================================================== */
@import 'normalize';
@import 'bourbon/bourbon';

$S:  480px;
$M:  768px;
$L:  1024px;
$XL:  1200px;
$XXL: 1680px;

$orange: hsla(357,85%,86%,1);
$blue: hsla(221,72%,55%,1);
$green: hsla(122,59%,63%,1);
$yellow: hsla(59,74%,90%,1);
$dark-grey: #444;
$medium-grey: #888;
$light-grey: #ccc;

$link-color: $blue;
$link-hover-color: $green;
$base-background-color: #fafafa;

$sans-serif: "adelle-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "abril-display", serif;

$base-border-radius: 0.25rem;

@mixin at-least($device-width) {
    @media screen and (min-width: $device-width) {
        @content
    }
}

@mixin until($device-width) {
    @media screen and (max-width: $device-width - 1) {
        @content
    }
}

%float {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
     -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
}

%float-high {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
     -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
          box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
}


/* ==========================================================================
   #GENERAL
========================================================================== */
html {

}
body {
    font-family: $serif;
    color: #333;
    overflow-x: hidden;
}
a, a:visited {
    color: $link-color;
    text-decoration: none;
    @include transition(color 0.3s ease-in-out);
}
a:hover {
    color: $link-hover-color;
}
button, a {
    @include transition(all 0.3s ease-in-out);
    &:focus, &:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        outline: none;
  }
}
button, .button {
    font-size: 0.75rem;
    padding: 0.5em;
    color: #fff;
    background-color: $link-color;
    @include transition(background-color 0.3s ease-in-out);
    &:hover, &:focus, &:active, &:visited {
        background-color: $link-hover-color;
    }
}
/* ==========================================================================
   #TYPOGRAPHY
========================================================================== */
html, body {
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    font-style: italic;
    margin-bottom: 0.5em;
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig";
    -webkit-font-feature-settings: "liga", "clig";
    font-feature-settings: "liga", "clig";
}
h1,.h1 {
    font-size: 3.052rem;
    font-weight: 900;
}
h2,.h2 {
    font-size: 2.441rem;
}
h3,.h3 {
    font-size: 1.953rem;
}
h4,.h4 {
    font-size: 1.563rem;
}
h5,.h5 {
    font-size: 1.25rem;
}
h6,.h6 {
    font-size: 1rem;
}
p, article {
    text-rendering: optimizeLegibility;
}
.page-title {

}

/* ==========================================================================
   #COMMON LAYOUT
========================================================================== */
body {
    display: flex;
    min-height: calc(100vh - 4.5rem);
    flex-direction: column;
    background-color: #fafafa;
    margin-top: 4.5rem;
}
.container {
    width: 100%;
    max-width: 50rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    @include until($M) {
        padding: 0 1em;
    }
    @include at-least($M) {
        width: 95%;
    }
    @include at-least($L) {
        width: 80%;
    }
    @include at-least($XL) {
        width: 70%;
    }
}
.site-header {
    padding: 1em 0;
    margin-bottom: 2rem;
}

/* ==========================================================================
   #HEADER
========================================================================== */
.site-header {
    width: 100%;
    background-color: $base-background-color;
    height: 4.5rem;
    position: absolute;
    top:0;
    left:0;
    z-index: 9999;
    @extend %float;
    @include transition(all 350ms ease-in-out);
}
.logo {
    width: 376px;
    max-width: 50%;
    height: auto;
    margin: 0 0 1rem 0;
    @include at-least($M) {
        height: 2.5rem;
        width: auto;
    }
}
.site-header--pinned {
    @include transform(translateY(0%));
    position: fixed;
    top: 0;
    .logo {

      }
}
.site-header--unpinned {
    @include transform(translateY(-100%));
    position: absolute;
}
.site-header--top {
    #logo {

      }
}
.site-header--not-top {

}
#top {
    display: none;
}

/* ==========================================================================
   #MENU
========================================================================== */
nav {
    float: right;
    position: relative;
    font-family: $sans-serif;
}
.menu {
    @include until($M) {
        display: none;
        opacity: 0;
    }
    @include at-least($M) {
        display: block;
        opacity: 1;
    }
}
.menu li {
    display: inline-block;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-weight: 700;
    margin-right: 0.375rem;
    @include at-least($M) {
        padding-top: 1rem;
        margin-right: 0.5rem;
    }
    @include at-least($L) {
        margin-right: 0.75rem;
    }
    @include at-least($XL) {
        margin-right: 1rem;
    }
    &:last-child {
        margin-right: 0;
    }
    &:nth-last-child(3) {
        @include at-least($M) {
            margin-right: 0.5rem;
        }
    }
    &:nth-last-child(3):after {
        @include until($M) {
            content: '';
            color: $link-color;
            width: 100%;
            height: 1px;
            border-top: 1px solid $link-color;
            display: block;
            text-align: center;
        }
        @include at-least($M) {
            font-weight: 300;
            content: '|';
            color: $link-color;
            margin-left: 0.5rem;
        }
    }
    a {
        font-weight: 500;
        color: $link-color;
        padding: 0.5rem 0;
        &:hover {
            color: $blue;
        }
    }
    .active {
        color: #fff;
        &:hover {
            color: $link-hover-color;
        }
    }
}
#language-active {
    display: none;
}
.toggle {
    font-family: $sans-serif;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 0;
    width: 120px;
    text-align: center;
    float: right;
    @include until($M) {
        font-size: 20px;
    }
    @include at-least($M) {
        display: none;
    }
}
#toggle:checked ~ .menu {
    display: block;
    opacity: 1;
    font-size: 20px;
    background-color: $base-background-color;

    border-bottom: 1px solid #999;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    position: absolute;
    top: calc(-15rem + 1px);
    right: 0;
    height: 15rem;
    z-index: 9999;
    @extend %float-vertical-upsidedown;
    .parent {
        display: block;
        width: 120px;
        margin-right: 0;
        overflow: hidden;
    }
    #language-active {
        display: none;
    }
    .menu-link {
        font-size: 1rem;
        display: block;
        width: 100%;
        height: 2.5em;
        padding: 0.5em;
        &:hover, &:focus {
            background-color: $link-color;
            color: #fff;
        }
        &.active {
            color: $orange;
            &:hover, &:focus {
                color: #fff;
            }
        }
    }
}
//site-header--pinned
.stuck #toggle:checked ~ .menu {
    top: 3rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    @extend %float-vertical;
}
/* responsive menu toggle child items*/
#toggle:checked ~ .menu li.child .menu-link {
    padding-left: 1em;
}
#toggle {
    display: none;
}
.toggle:after {
    content: 'menu';
    display: block;
    padding: 0.5rem;
    height: 3rem;
    background: $link-color;
    color: #fff;
    width: 120px;
    position: relative;
    @include transition(all 0.3s ease-in-out);
}
.toggle:hover:after, .toggle:focus:after{
    background: $link-hover-color;
}
#toggle:checked + .toggle:after{
    content: 'close';
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
#toggle:checked {

}

/* ==========================================================================
   #FOOTER
========================================================================== */
/*set up the sticky footer as per http://thatemil.com/blog/2013/11/03/sticky-footers-flexbox-and-ie10/ and http://jsbin.com/ERELezu/24/edit */
main {
    display: block;
}

.flexboxtweener, .flexboxtweener>body {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    z-index: 1;
}

.site-footer {
    padding: 1em 0;
    margin-top: 1em;
    text-align: center;
    font-size: 0.75rem;
}

/* ==========================================================================
   #BREADCRUMBS
========================================================================== */
#breadcrumbs {
    @extend .container;
    margin: 1em auto;
    float: none;
}
.here , .breadcrumbs-list{
    display: inline;
    font-size: 0.75em;
}
.breadcrumb {
    display: inline;
    list-style-type: none;
    text-transform: capitalize;
    &:after {
        content: ' > ';
    }
    &:last-child{
        &:after {
            content: '';
        }
    }
}

/* ==========================================================================
   #PAGES
========================================================================== */
.page-title {
    @extend .container;
}

/* ==========================================================================
   #HOME
========================================================================== */
.homepage-text {
    @extend .container;
}
