{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block template_class %}{{ page.template }}{% endblock template_class %}
{% block translation_links %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
{% endblock %}
{% block breadcrumbs %}
<nav id="breadcrumbs" role="navigation">
    <p class="here">{% trans %}U bent hier:{% endtrans %}</p>
    <ul class="breadcrumbs-list">
        <li class="breadcrumb"><a href="{{ SITEURL }}" title="{{ SITENAME }}">home</a></li>
        {% if page.home %}
        {% else %}
        <li class="active breadcrumb"><a href="{{ SITEURL }}/{{ page.slug }}/">{{ page.title }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock breadcrumbs %}
{% block content %}
    <article>
    {{ page.content }}
    </article>
{% endblock %}
